<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View All Posted Jobs</title>
</head>
<body>
<h1 align="center">Post Jobs here</h1>
<table align="center">
    <tr>
        <td><a href="/index/">Home | </a> </td>
        <td><a href="/comp_login/">Comp Login | </a> </td>
        <td><a href="/comp_registration/">Comp Registration | </a> </td>
        <td><a href="/comp_dashboard/">Comp Dashboard | </a> </td>
        <td><a href="/comp_post_jobs/">Post Jobs | </a> </td>
        <td><a href="/comp_view_jobs/">View Jobs | </a> </td>
        <td><a href="/comp_edit_jobs/">Edit Jobs | </a> </td>
        <td><a href="/comp_delete_jobs/">Delete Jobs | </a> </td>
    </tr>
</table>
{% for x in jobs %}
<form action="/comp_edit_jobs/" method="post">
    <table align="center">
        <tr>
            <td>Job Id : </td>
            <td>{{ x.id }}</td>
        </tr>
        <tr>
            <td>Job Title : </td>
            <td>{{ x.job_title }}</td>
        </tr>
        <tr>
            <td>Job Type :</td>
            <td>{{ x.job_type }}
            </td>
        </tr>
        <tr>
            <td>Job Details :</td>
            <td>{{ x.job_detail }}</td>
        </tr>
        <tr>
            <td>Job Tags :</td>
            <td>{{ x.job_tags }}</td>
        </tr>
        <tr>
            <td align="center" colspan="2"><input type="submit" value="View"></td>
        </tr>
    </table>
</form>
{% endfor %}
</body>
</html>