<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View All Jobseeker</title>
</head>
<body>
<table>
<h1 align="center">View All Jobseeker</h1>
    <tr>
        <td><a href="/login/">Login | </a> </td>
        <td><a href="/register/">Registration | </a> </td>
        <td><a href="/delete/">Delete | </a> </td>
        <td><a href="/view_all_company/">View Comp | </a> </td>
        <td><a href="/view_all_jobseeker/">View JS | </a> </td>
        <td><a href="/view_all_jobs/">View Jobs | </a> </td>
    </tr>
</table>

</body>
</html>